.container {
  text-align: center;
  margin-top: 3%;
  color: #872f1f;
  font-style: italic;
  font-family: cursive;
  font-weight: bold;
  background-image: url("../3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

table {
  width:500px;
  height: 500px;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  margin: 15%;
  margin-left: 25%;

}

.ex {
  background-image: url("../ex.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.oh {
  background-image: url("../oh.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.row1, .row2  {
  border-bottom-color: #872f1f;

}

.sq1, .sq4, .sq7, .sq2, .sq5, .sq8 {
  border-right-color: #872f1f;

}
